# Enkleste bruk av pakken med "ferdig data"

Pass på at du har innstallert pakken i en "kernel" du kan bruke i notebooket

In [ ]:
import pandas as pd
from statbank import StatbankClient

### Få tak i data
Hovedtabell 07495 har to deltabeller, du har nok ikke tilgang på disse filene. \
Du bør finne egen data, kanskje fra fjoråret, og bruke seksjonens lastebruker osv. \
Endre koden til noe du kan teste med.

In [ ]:
df_07495_fylker = pd.read_parquet("07495_statbank_fylker.parquet")
df_07495_landet = pd.read_parquet("07495_statbank_landet.parquet")

In [ ]:
df_07495_fylker

### Lag statbank-client
Din lastebruker vil være anderledes

In [ ]:
client = StatbankClient(loaduser="LAST360",
                        date="2023-02-25",
                       cc='pam',
                       bcc='dpo')

In [ ]:
print(client)

### Vi må vite hvilke deltabeller hver dataframe representerer
Din hovedtabell har kanskje bare èn deltabell, men vi trenger fortsatt navnet på den.

In [ ]:
data_07495 = {"kargrs01fylker1.dat": df_07495_fylker,
              "kargrs01landet1.dat": df_07495_landet,}

### Overfør data med .transfer()
Om du har "hovedtabellnavn" istedenfor "tabell-id" så skal det i teorien fungere (kanskje også for interntabeller)

In [ ]:
client.transfer(data_07495, tableid="07495")

In [ ]:
client.log